body {

  background-color:white;
  overflow-x: hidden;
}
/*nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8F8FF;
}

li {
  border-right:1px solid #DCDCDC;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #FFC0CB;
}

.titleImg{

    display: block;
    width: 100%;
    height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.btn1{
  text-align: center;
  display: center;
}
#btn:hover{
  background-color: #FFC0CB;
}
/* CSS */
#btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#btn:hover:after {
  transform: translate(0, 0);
}

#btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn1{
  text-align: center;
  display: center;
}
#btn{
  text-align: center;
  display: center;
}

.title{
  display:block;
 padding: 10px;
 text-align: center;
 font-size:100px;
 color:whitesmoke;
 text-shadow: 2px 2px #ffdeda;
 font-family: Optima, sans-serif;
 background-color: #FFC0CB;
}

.intro{
 display:block;
 font-family:Didot, serif;
 margin: 80px;
 display: center;
 text-align:center;
 border:dotted #FFC0CB;
 background-color:whitesmoke ;
}
h2{
  font-family:Didot, serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px #FFC0CB;
  background-color: #FFC0CB;
  text-shadow: 2px 2px white;

}
.ListIngredients{
  display:inline-block;
  font-family:Didot, serif;
  text-align:center;
  border:dotted #FFC0CB;
  background-color:whitesmoke;
  column-count: 2;
}

.OrderedList{
  display:inline-block;
  font-family:Didot, serif;
  text-align:center;
  -webkit-column-break-inside: avoid-column;

}

.Links1{
  text-align: center;
  display: center;
}
.Links1:hover{
  background-color: #FFC0CB;
}
/* CSS */
.Links1 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Links1:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.Links1:hover:after {
  transform: translate(0, 0);
}

.Links1:active {
  background-color: #ffdeda;
  outline: 0;
}

.Links{
  text-align: center;
  display: center;
}
.Links2{
  text-align: center;
  display: center;
}

.Links2{
  text-align: center;
  display: center;
}
.Links2:hover{
  background-color: #FFC0CB;
}
/* CSS */
.Links2 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Links2:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.Links2:hover:after {
  transform: translate(0, 0);
}

.Links2:active {
  background-color: #ffdeda;
  outline: 0;
}

.Links2{
  text-align: center;
  display: center;
}
.Links2{
  text-align: center;
  display: center;
}

.aside {
  display:block;
  display:center;
  background-color: #FFC0CB;
  padding: 15px;
  font-family:Didot, serif;
  color: whitesmoke; 
  text-align: center;
  font-size: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 2px 2px black;
}

.chickenMarinade {
  height: 1000px;
}

.chickenMarinadeList {
  height: 500px;
}

.chickenMarinadeListItem {
  display: list-item;
}

@media only screen and (max-width:600px){
  body {

    background-color:#e9f6ff;
    overflow-x: hidden;
  } 
  
  #btn{
    width:40%;
    font-size:20%;
    /*font-family:Impact, fantasy;*/
  } 
    .title{
        font-size:30px;
    }
    .intro{
      margin:0%;
    }
    .mar{
      margin-top: 100px;
    }
}
